body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flexible-container {
    display: flex;
}

.top-banner {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p {
    color: dimgray;
    line-height: 28px;
}

.orange-color {
    color: orange
}

.half-width {
    width: 40%;
    margin-left: 7%;
}

.half-width img {
    width: 100%;
}

.hire-me-btn {
    text-decoration: none;
    background-image: linear-gradient(45deg, #FF9873, #FF6F51);
    color: white;
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
}

.experience-area {}

.experience-item {
    width: 50%;
    box-shadow: 10px 10px 40px dimgray;
    margin-left: 3%;
    margin-right: 2%;
    padding: 10px 40px 90px;
}

#experience-item-left {
    border-left: 7px solid tomato;
}

#experience-item-right {
    border-left: 7px solid tomato;
}